* {
	margin: 0;
	box-sizing: border-box;
}

body {
	--gap: 16px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: var(--gap);

	margin-left: auto;
	margin-right: auto;

	color: #141414;
	background-color: #FAFAFA;

	font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 1.4;

	padding: 16px;
	width: 100%;
	max-width: 700px;
}

img {
	max-width: 100%;
}

header {
	display: flex;
	gap: 32px;
	align-items: center;
}

.post_list {
	padding: 0;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post_list li {
	list-style-type: none;
}

.post_list a {
	text-decoration: none;
	border-bottom: thin solid rgba(55, 42, 26, 1);
}

h1,h2,h3,h4,h5,h6 {
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.1em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: .8em;
}

.logo_link {
	flex-grow: 0;
}

.logo {
	width: 80px;
}

.title_and_summary {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

ol, ul {
	padding: 0 0 0 18px;
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

footer {
	display: flex;
	justify-content: space-between;
}

.edit_post_link {
	text-decoration: none;
	color: gray;
}

blockquote {
	background-color: #ECECEC;
	padding: 4px 16px;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

code, pre {
	font-family: "Monaco","Courier","monospace";
	font-size: .8em;
}

pre {
	border-left: thin solid rgba(55, 42, 26, 1);
	padding-left: 4px;
}

@media (max-width: 400px) {
	body {
		font-size: 16px;
		--gap: 8px;
		padding: 8px;
	}
}

.summary {
	color: gray;
	font-size: 10px;
}

.highlight_box {
	border: 2px solid gray;
	border-radius: 5px;
	max-width: 300px;
	min-width: 200px;
	flex-basis: 200px;
	flex-grow: 1;
	padding: 16px;

	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.highlight_box .summary {
	font-size: 14px;
}

.top_posts {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: var(--gap);
}

.top_posts_area {
	margin: calc(2 * var(--gap)) 0;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}
